@import url('https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@400;500;700;800');

:root {
	/* --- Marca / Paleta Primaria (Naranja: #ff8c00) --- */
	--primary-color: #ff8c00; /* Naranja Oscuro (DarkOrange) */
	--primary-dark-color: #cc7000; /* Naranja más oscuro (para hover/active) */
	--primary-light-color: #ffb74d; /* Naranja más claro (para fondos sutiles) */

	/* --- Acentos / CTA (Llamado a la Acción) --- */
	--accent-cta-color: #d05d00; /* Naranja-Rojo intenso y oscuro. Mayor contraste con el fondo. */

	/* --- Texto y Fondos (Neutros) --- */
	--text-dark-color: #333333; /* Texto principal (casi negro) */
	--text-light-color: #ffffff; /* Texto sobre fondos oscuros (blanco) */
	--text-darker-color: #000000;
	--background-light-color: #f8f8f8; /* Fondo claro de la aplicación */
	--border-color: #dddddd; /* Color de bordes y separadores */

	/* --- Utilitarios (Sombras, Descripciones) --- */
	--cards-description-color: #a77e4e; /* Marrón/Tostado para texto secundario/descripciones */
	--cards-shadow-color: rgba(0, 0, 0, 0.055); /* Sombra suave basada en el primario */
	--cards-black-color-hover: rgba(0, 0, 0, 0.281); /* Sombra general al pasar el ratón */

	/* --- Tipografía --- */
	--font-primary: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
	--cards-description-font: 14px;
	--input-border-color: rgb(146, 146, 146);
	--input-border-color-focus: #ff8c00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-primary);
}

/* Contenedor principal del body */
body {
	height: 100%;
	margin: 0 auto;
	background-color: var(--background-light-color);
	overflow-x: hidden;
}

/* todos los h tienen que tener margin 0 */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
