/* ======= HOMEPAGE ======= */

.home-container {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  background-color: var(--background-light-color);
}

/* ======= SECCIONES ======= */
.home-container section {
  margin-bottom: 30px;
}

/* ======= TÍTULOS DE SECCIÓN ======= */
.home-container h3 {
  font-size: 1.5rem;
  color: var(--text-dark-color);
}

/* ======= SECCIÓN DE OFERTAS ======= */

/* ======= GRID GENERAL ======= */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  justify-items: center;
  margin-top: 20px;
}

/* ======= RESPONSIVE ======= */
@media (max-width: 768px) {
  .home-container h3 {
    font-size: 1.4rem;
    margin: 30px 0 20px 0;
  }
  
  .cards-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
}

@media (max-width: 480px) {
  .home-container h3 {
    font-size: 1.3rem;
    margin: 25px 0 15px 0;
  }
  
  .cards-grid {
    gap: 15px;
  }
}