.navbar {
	background-color: #ffffff;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.navbar-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25px;
}

.logo-img {
	width: 180px;
	border-radius: 5px;
}

.nav-buttons {
	display: flex;
	gap: 10px;
	align-items: center;
}

.nav-button {
	padding: 5px;
	text-decoration: none;
	color: var(--text-dark-colort);
	font-weight: 500;
	transition: color 0.2s ease;
}

.nav-button:hover {
	color: var(--primary-color);
}

.nav-cta {
	text-decoration: none;
	background-color: var(--accent-cta-color);
	color: var(--text-dark-colort);
	padding: 8px 18px;
	border-radius: 5px;
	font-weight: 600;
	transition: 0.2s ease;
}

.nav-cta:hover {
	background-color: var(--primary-dark-color);
	color: var(--text-light-color);
}
