.offer-form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.offer-form-fields {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 8px;
}

.offer-form-field {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.offer-form-field input {
	padding: 7px;
	border-radius: 10px;
	border: 1px solid var(--input-border-color);
	width: 100%;
	font-size: 100%;
}

.offer-form-field-checkbox {
	display: flex;
	width: 50%;
	justify-content: space-between;
}


.offer-form-field input:focus {
	outline: none;
	border-color: var(--input-border-color-focus);
	box-shadow: 0 0 10px 0 rgba(255, 140, 0, 0.849);
	transition: all 0.3s ease;
	will-change: border-color, box-shadow;
	background: var(--input-background-color-focus);
}