.sidebar {
	width: 230px;
	background: #faf7f2;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}

.sidebar-header {
	padding: 0 24px 12px 24px;
	border-bottom: 1px solid #ece8e1;
	margin-bottom: 10px;
}

.sidebar-header h2 {
	font-size: 1.12rem;
	font-weight: 600;
	margin: 0;
	color: #222221;
}

.sidebar-admin {
	color: #a8935a;
	font-size: 0.97rem;
	margin-top: 2px;
	display: block;
}

.sidebar-navigation {
	flex: 1;
	margin-top: 12px;
}

.sidebar-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.sidebar-nav-item {
	border-radius: 8px;
	overflow: hidden;
}

.sidebar-link {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 10px 22px;
	text-decoration: none;
	color: #222221;
	font-size: 1.04rem;
	background: transparent;
	transition: background 0.18s, color 0.18s, text-shadow 0.18s;
	border-radius: 8px;
	text-shadow: none;
  font-weight: 400;
}

.sidebar-link.active,
.sidebar-link:hover {
	background: #f7e5c7;
	text-shadow: 
    0.3px 0 0 #222221, /* Sombra ligera a la derecha */
    -0.3px 0 0 #222221; /* Sombra ligera a la izquierda */
}

.sidebar-item-icon {
	display: flex;
	align-items: center;
	gap: 11px;
}

.sidebar-icon {
	font-size: 1.24rem;
}
