.navbar {
	background-color: #ffffff;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	border-bottom: var(--border-color) 1px solid;
}

.navbar-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25px;
	width: 100%;
}

.logo-img {
	width: 180px;
	border-radius: 5px;
}

.nav-buttons {
	display: flex;
	gap: 10px;
	align-items: center;
}

.nav-button {
	padding: 5px;
	text-decoration: none;
	color: var(--text-dark-colort);
	font-weight: 500;
	transition: color 0.2s ease;
}

.nav-button:hover {
	color: var(--primary-color);
}

.nav-cta {
	text-decoration: none;
	background-color: var(--accent-cta-color);
	color: var(--text-dark-colort);
	padding: 8px 18px;
	border-radius: 5px;
	font-weight: 600;
	transition: 0.2s ease;
}

.nav-cta:hover {
	background-color: var(--primary-dark-color);
	color: var(--text-light-color);
}

/* Responsive para la navbar */
@media (max-width: 768px) {
	.navbar-inner {
		width: 100%;
		padding: 10px 20px;
	}

	.logo-img {
		width: 150px;
	}
}

@media (max-width: 480px) {
	.navbar-inner {
		width: 100%;
		padding: 8px 15px;
	}

	.logo-img {
		width: 120px;
	}

	.nav-buttons {
		gap: 5px;
	}

	.nav-button {
		font-size: 0.9rem;
	}

	.nav-cta {
		padding: 6px 12px;
		font-size: 0.9rem;
	}
}
