.benefit-card-container {
	border: 1px solid var(--cards-description-color);
	border-radius: 8px;
	width: 320px;
	min-height: 140px;
}

.benefit-card-content {
	display: flex;
	flex-direction: column;
	padding: 14px;
	gap: 8px;
}

.benefit-card-text {
	font-size: var(--cards-description-font);
	color: var(--cards-description-color);
  font-weight: 500;
}
