/* ESTILO DE LA TARJETA (OfferCard) */
.offer-card {
	background-color: #ffffff;
	max-width: 350px;
	border-radius: 12px;
	/* Sombra ligera para un look más limpio, similar a Despegar */
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #e5e7eb; /* Borde más sutil */
	/* Transición para el efecto hover */
	transition: transform 0.3s, box-shadow 0.3s;
}

/* Efecto Hover: Sombra sutil en hover */
.offer-card:hover {
	/* transform: translateY(-2px); */
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.322);
}

/* Imagen y Precio Badge (Se mantiene la imagen en la parte superior) */
.card-image-container {
	height: 160px;
	overflow: hidden;
	position: relative;
}
.card-price-badge {
	/* Eliminamos el badge flotante para adaptarnos al estilo Despegar que pone el precio abajo */
	display: none;
}
.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s;
}

/* Contenido Superior (Detalles del Viaje) */
.card-content-top {
	padding: 16px;
	display: flex;
	flex-direction: column;
	padding-bottom: 0; /* Ajustamos para la separación */
}
.card-category {
	font-size: 12px;
	font-weight: 600;
	color: #9ca3af; /* Gris claro para la categoría */
	text-transform: uppercase;
	margin-bottom: 4px;
}
.card-title {
	font-size: 24px;
	font-weight: 800;
	color: #1f2937;
	margin-bottom: 8px;
	line-height: 1.2;
}

/* Ruta Origen y Aerolínea/Descripción */
.card-details-line {
	font-size: 14px;
	color: #4b5563;
	margin-bottom: 4px;
}
.card-label {
	font-weight: 600;
	color: #374151;
}

.card-tag {
	width: fit-content;
	background-color: #dde1e8;
	font-size: 12px;
	font-weight: 500;
	padding: 4px 8px;
	border-radius: 6px;
	margin-top: 12px;
	margin-bottom: 16px;
}

/* Contenido Inferior (Precio) */
.card-content-bottom {
	padding: 16px;
	border-top: 1px solid #e5e7eb;
}
.card-price-label {
	font-size: 12px;
	color: #9ca3af;
	margin-bottom: 4px;
}
.card-price-amount {
	font-size: 32px;
	font-weight: 800;
	color: #1f2937;
	margin-bottom: 4px;
	display: flex;
	align-items: center;
}
.card-price-currency {
	font-size: 16px;
	margin-right: 4px;
	font-weight: 600;
}

.card-reference-date {
	font-size: 14px;
	color: #4b5563;
}

/* Eliminamos estilos de acciones anteriores que no aplican al nuevo formato */
.card-route,
.card-description,
.card-actions {
	display: none;
}
