.hero-container {
	--hero-title-size: 4rem;
	--hero-text-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('@/public/hero-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 400px;
	width: 100%;
	color: var(--foreground);
	box-sizing: border-box;
	padding-top: var(--navbar-height);
}

.title-subtitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px; /* Espacio adicional para evitar que quede tapado */
}

.title {
	font-size: var(--hero-title-size);
	font-weight: 600;
	color: #fff;
	width: 60%;
	text-align: center;
}

.subtitle {
	width: 80%;
	text-align: center;
	font-size: var(--hero-text-size);
	color: #fff;
}
