.newsletter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--newsletter-section);
    width: 100%;
    gap: 1.5rem;
}

.newsletter-section_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%
}

.newsletter-section_header h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.newsletter-section_header p {
    text-align: center;
}

.newsletter-section_icon {
    font-size: 2rem;
}

.email-form {
    display: flex;
    gap: 1rem
}

.form-icon {
    color: var(--foreground)
}

.email-form_terms {
    color: var(--foreground)
}