.benefits-section {
	display: flex;
	flex-direction: column;
}

.benefit-subtitle-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.benefits-section .section-header-container h3 {
	color: var(--text-darker-color);
}

.benefits-description {
	font-size: var(--cards-description-font);
	max-width: 600px;
}

.benefit-cards-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 20px;
	width: 100%;
	max-width: 1000px;
  margin-top: 15px;
}

.icon {
  font-size: 25px;
}

/* Responsive tablet */
@media (max-width: 900px) {
	.benefit-cards-grid {
		max-width: 90vw;
		gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	}

	.benefits-description {
		font-size: calc(var(--cards-description-font) * 0.95);
	}
}

/* Responsive móvil */
@media (max-width: 600px) {
	.benefits-section {
		padding: 16px 6px;
	}
	.benefit-cards-grid {
		grid-template-columns: 1fr;
		gap: 16px;
		max-width: 98vw;
	}
	.benefits-description {
		font-size: calc(var(--cards-description-font) * 0.9);
		max-width: 98vw;
		padding: 0 4px;
	}
}

