.footer-content {
	display: flex;
	width: 100%;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.footer-content {
	color: var(--cards-description-color);
}

.footer-social p {
	font-size: 1.1rem;
}

.footer-social .footer-icon {
	font-size: 1.3rem;
}

.footer-social {
	display: flex;
	gap: 5px;
}
.footer-icon {
	cursor: pointer;
}
