.section-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
}

.section-header-container h3 {
	font-size: 1.4rem;
	color: var(--text-dark-color);
}

/* ======= RESPONSIVE ======= */
@media (max-width: 768px) {
	.section-header-container {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 8px;
	}

	.section-header-container h3 {
		font-size: 1.4rem;
	}
}

@media (max-width: 480px) {
	.section-header-container h3 {
		font-size: 1.3rem;
	}
}
